{% extends "base.html" %}
{% block title %}API{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<script type="text/javascript">
$(document).ready(function(){
  $("#verify").validate({
    rules: {
      api_id: {required: true}
      api_vcode: {required: true}
    },
    messages: {
      api_id: "API ID is required",
      api_vcode: "API vCode is required",
    },
    errorElement: "div",
    errorClass: "error"
  });
});
</script>
<form method="post" action="{{ url_for("index") }}" name="verify" id="verify">
<fieldset>
<legend>API Details</legend>
{{ form.csrf_token }}
  <dl>
    {{ render_field(form.api_id, class="required", autocomplete="off") }}
    {{ render_field(form.api_vcode, class="required", autocomplete="off") }}
  </dl>
</fieldset>
<div class="submit">
  <input class="button" type="submit" value="Get"/>
</div>
</form>
{% endblock %}